<div class="top-buttons">
    <button data-function="add">➕</button>
</div>

<div class="middle-buttons">
    <button data-function="refresh">🔄</button>
</div>

<div class="bottom-buttons">
    <button data-function="play-now">▶️</button>
    <button data-function="remove">➖</button>
</div>
