<% title="HARVESTASYA Media Control"%>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="apikeys.js"></script>
<script type="text/javascript" src="index.js"></script>
<title><%= title%></title>