<div id="youtube-search">
    <form id="youtube-search-form">
        <input type="text" name="query">
        <input type="submit" value="ðŸ”">
    </form>
    <ul id="youtube-search-results">
    </ul>
</div>